@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

@media screen and (max-width: 768px) {
  .document-output {
    font-size: 14px;
  }
}

.document-output > ul > li {
  margin-left: 50px !important;
}

.document-output td,
th {
  border: 1px solid black;
  padding: 10px;
}

.document-output * {
  margin-top: 10px;
}

.document-output > h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"), url("fonts/Roboto-Regular.ttf") format("truetype");
}

html {
  min-height: 100vh;
  position: relative;
}

body {
  height: 100vh;
}

body {
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
